@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listMenu = ViewBag.ListMenu;
    List<Models.Entity.Slide> listSlide = ViewBag.SlideList;
    List<Models.Entity.FooterCategory> footerCategories = ViewBag.FooterCategories;
    List<Models.Entity.Footer> footers = ViewBag.Footers;
    List<Models.Entity.About> abouts = ViewBag.About;
    List<Models.Entity.Staff> staffsList = ViewBag.Staffs;
}

<!--slider section start-->
<div class="hero-section section position-relative">

    <div class="tf-element-carousel slider-nav" data-slick-options='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "infinite": true,
        "arrows": true,
        "dots": true
        }' data-slick-responsive='[
        {"breakpoint":768, "settings": {
        "slidesToShow": 1
        }},
        {"breakpoint":575, "settings": {
        "slidesToShow": 1,
        "arrows": false,
        "autoplay": true
        }}
        ]'>
        <!--Hero Item start-->
        <div class="hero-item bg-image" data-bg="/Asset/Client/images/hero/hero-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-3">

                            <h2>Save Now Beauty of Life</h2>
                            <h1>treatments For all</h1>
                            <h3>Spa Cosmetics</h3>
                            <a href="shop.html">Shop collection now!</a>

                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
        <!--Hero Item start-->
        <div class="hero-item bg-image" data-bg="/Asset/Client/images/hero/hero-4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-3">

                            <h2>Book your appointment</h2>
                            <h1>Light Spring</h1>
                            <h3>Makeup / Cosmetics</h3>
                            <a href="shop.html">Shop collection now!</a>

                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
    </div>

</div>
<!--slider section end-->
<!--Product section start-->
<div class="product-section section pt-100 pt-lg-80 pt-md-70 pt-sm-50 pt-xs-40 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container-fluid pl-75 pr-75 pl-lg-15 pr-lg-15 pl-md-15 pr-md-15 pl-sm-15 pr-sm-15 pl-xs-15 pr-xs-15">
        <div class="row">

            <div class="col-lg-3 col-xl-2">
                <!-- Section Title Start -->
                <div class="section-title-two mb-40 mb-xs-20">
                    <span>our</span>
                    <h2>Featured</h2>
                    <span>proucts</span>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-9 col-xl-10">
                <div class="row tf-element-carousel product-nav-two" data-slick-options='{
                            "slidesToShow": 5,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "arrows": true,
                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                            }' data-slick-responsive='[
                            {"breakpoint":1899, "settings": {
                            "slidesToShow": 4
                            }},
                            {"breakpoint":1400, "settings": {
                            "slidesToShow": 3
                            }},
                            {"breakpoint":1199, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":768, "settings": {
                            "slidesToShow": 2,
                            "arrows": false,
                            "autoplay": true
                            }},
                            {"breakpoint":576, "settings": {
                            "slidesToShow": 1
                            }}
                            ]'>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-1.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brush</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price">
                                    <span class="new">€110.00</span><span class="old">€130.00</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-2.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brux</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-3.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruz</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-4.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruk</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€115.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-5.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brush</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-6.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brug</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price">
                                    <span class="new">€70.00</span><span class="old">€100.00</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-7.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruc</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€70.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-8.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brusb</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€90.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Product section end-->
<!--Deal Of Product section start-->
<div class="deal-product-section section bg-gray-two pt-0 pt-sm-5 pb-20 pb-sm-0 pb-xs-25">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tf-element-carousel" data-slick-options='{
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "infinite": true,
                        "arrows": false,
                        "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                        "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                        }' data-slick-responsive='[
                        {"breakpoint":768, "settings": {
                        "slidesToShow": 1,
                        "arrows": false,
                        "autoplay": true
                        }},
                        {"breakpoint":575, "settings": {
                        "slidesToShow": 1,
                        "arrows": false,
                        "autoplay": true
                        }}
                        ]'>
                    <!-- Single Deal Product Start -->
                    <div class="single-deal-product">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-product-img">
                                    <a href="single-product.html">
                                        <img src="/Asset/Client/images/deal-product/product-1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-product-title">
                                    <h2><span>Hot</span><span>Deal</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut..</p>
                                    <div class="cs-countdown black-color">
                                        <div class="pro-countdown" data-countdown="2021/01/10"></div>
                                    </div>
                                    <a href="shop.html">Shop collection now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Deal Product End -->
                    <!-- Single Deal Product Start -->
                    <div class="single-deal-product">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-product-img">
                                    <a href="single-product.html">
                                        <img src="/Asset/Client/images/deal-product/product-2.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-product-title">
                                    <h2><span>Hot</span><span>Deal</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut..</p>
                                    <div class="cs-countdown black-color">
                                        <div class="pro-countdown" data-countdown="2021/01/10"></div>
                                    </div>
                                    <a href="shop.html">Shop collection now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Deal Product End -->
                    <!-- Single Deal Product Start -->
                    <div class="single-deal-product">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-product-img">
                                    <a href="single-product.html">
                                        <img src="/Asset/Client/images/deal-product/product-3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="deal-product-title">
                                    <h2><span>Hot</span><span>Deal</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut..</p>
                                    <div class="cs-countdown black-color">
                                        <div class="pro-countdown" data-countdown="2021/01/10"></div>
                                    </div>
                                    <a href="shop.html">Shop collection now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Deal Product End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Deal Of Product section end-->
<!--Product section start-->
<div class="product-section section pt-100 pt-lg-70 pt-md-65 pt-sm-60 pt-xs-45 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container-fluid pl-75 pr-75 pl-lg-15 pr-lg-15 pl-md-15 pr-md-15 pl-sm-15 pr-sm-15 pl-xs-15 pr-xs-15">
        <div class="row">

            <div class="col-xl-2 col-lg-3">
                <!-- Section Title Start -->
                <div class="section-title-two mb-40 mb-xs-20">
                    <span>our</span>
                    <h2>Best seller</h2>
                    <span>proucts</span>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-xl-10 col-lg-9">
                <div class="row tf-element-carousel product-nav-two" data-slick-options='{
                            "slidesToShow": 5,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "arrows": true,
                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                            }' data-slick-responsive='[
                            {"breakpoint":1899, "settings": {
                            "slidesToShow": 4
                            }},
                            {"breakpoint":1400, "settings": {
                            "slidesToShow": 3
                            }},
                            {"breakpoint":1199, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":768, "settings": {
                            "slidesToShow": 2,
                            "arrows": false,
                            "autoplay": true
                            }},
                            {"breakpoint":576, "settings": {
                            "slidesToShow": 1,
                            "arrows": false,
                            "autoplay": true
                            }}
                            ]'>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-12.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brush</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price">
                                    <span class="new">€110.00</span><span class="old">€130.00</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-13.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brux</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-14.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruz</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-4.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruk</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€115.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-5.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brush</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-6.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brug</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price">
                                    <span class="new">€70.00</span><span class="old">€100.00</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-7.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruc</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€70.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-8.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                <div class="product-action d-flex justify-content-between">
                                    <a class="product-btn" href="#">Add to Cart</a>
                                    <ul class="d-flex">
                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brusb</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€90.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Product section end-->
<!-- Banner Section Start -->
<div class="banner-section section bg-image pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45 pb-95 pb-lg-75 pb-md-65 pb-sm-55 pb-xs-45" data-bg="/Asset/Client/images/banner/img_bannermid.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-content">

                    <h2>A Single Step Skin Perfector!</h2>
                    <h1>Makeup melt</h1>
                    <h3>cleansing balm</h3>
                    <a href="shop.html">Shop collection now!</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!--Product section start-->
<div class="product-section section pt-100 pt-lg-70 pt-md-65 pt-sm-60 pt-xs-45 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container-fluid pl-75 pr-75 pl-lg-15 pr-lg-15 pl-md-15 pr-md-15 pl-sm-15 pr-sm-15 pl-xs-15 pr-xs-15">
        <div class="row">

            <div class="col-lg-3 col-xl-2">
                <!-- Section Title Start -->
                <div class="section-title-two mb-40 mb-xs-20">
                    <span>our</span>
                    <h2>2019 trend</h2>
                    <span>proucts</span>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-9 col-xl-10">
                <div class="row tf-element-carousel product-nav-two" data-slick-options='{
                            "slidesToShow": 5,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "arrows": true,
                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                            }' data-slick-responsive='[
                            {"breakpoint":1899, "settings": {
                            "slidesToShow": 4
                            }},
                            {"breakpoint":1400, "settings": {
                            "slidesToShow": 3
                            }},
                            {"breakpoint":1199, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":768, "settings": {
                            "slidesToShow": 2,
                            "arrows": false,
                            "autoplay": true
                            }},
                            {"breakpoint":576, "settings": {
                            "slidesToShow": 1,
                            "arrows": false,
                            "autoplay": true
                            }}
                            ]'>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-15.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruk</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€115.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-16.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brush</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-17.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brug</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price">
                                    <span class="new">€70.00</span><span class="old">€100.00</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-18.jpg" alt="">
                                </a>                             
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-8.jpg" alt="">
                                </a>             
                            </div>
                         
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-12.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brush</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price">
                                    <span class="new">€110.00</span><span class="old">€130.00</span>
                                </h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-13.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                                
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Brux</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Single Product Start -->
                        <div class="single-product mb-30">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="/Asset/Client/images/product/product-14.jpg" alt="">
                                </a>
                                <span class="descount-sticker">-10%</span>
                                <span class="sticker">New</span>
                            </div>
                            <div class="product-content text-left">
                                <h3><a href="single-product.html">White Shave Bruz</a></h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4 class="price"><span class="new">€130.00</span></h4>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Product section end-->
<!--Call To Action section start-->
<div class="cta-section section bg-image pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-40"
     data-bg="/Asset/Client/images/bg/cta-bg.jpg">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="cta-content">
                    <h3>Get <span>10%</span> Discount</h3>
                    <p>
                        <span>Subcribe to the TheFace mailing list to receive update on mnew arrivals,</span>
                        <span>special offers and other discount information.</span>
                    </p>
                    <div class="cta-form">
                        <form id="mc-form" class="mc-form">
                            <input id="mc-email" type="email" autocomplete="off"
                                   placeholder="Your email address here" />
                            <button id="mc-submit" class="cta-btn">Subscribe</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Call To Action section end-->
<!--Blog section start-->
<div class="blog-section section bg-gray pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-75 pb-lg-55 pb-md-45 pb-sm-35 pb-xs-30">
    <div class="container">

        <div class="row">
            <!-- Section Title Start -->
            <div class="col">
                <div class="section-title mb-40 mb-xs-20">
                    <h2>From the blog</h2>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row tf-element-carousel" data-slick-options='{
                    "slidesToShow": 3,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "arrows": true,
                    "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                    "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                    }' data-slick-responsive='[
                    {"breakpoint":1199, "settings": {
                    "slidesToShow": 3
                    }},
                    {"breakpoint":992, "settings": {
                    "slidesToShow": 2
                    }},
                    {"breakpoint":768, "settings": {
                    "slidesToShow": 2,
                    "arrows": false,
                    "autoplay": true
                    }},
                    {"breakpoint":575, "settings": {
                    "slidesToShow": 1,
                    "arrows": false,
                    "autoplay": true
                    }}
                    ]'>
            <!-- Single Blog Start -->
            <div class="blog col">
                <div class="blog-inner">
                    <div class="media"><a href="blog-details.html" class="image"><img src="/Asset/Client/images/blog/blog1.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="title"><a href="blog-details.html">Cool boy with tattoo</a></h3>
                        <ul class="meta">
                            <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">20</span><span class="separator">-</span><span class="month">Jul</span></span></li>
                        </ul>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                        <a class="readmore" href="blog-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="blog col">
                <div class="blog-inner">
                    <div class="media"><a href="blog-details.html" class="image"><img src="/Asset/Client/images/blog/blog2.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="title"><a href="blog-details.html">Blog image post</a></h3>
                        <ul class="meta">
                            <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">20</span><span class="separator">-</span><span class="month">Jul</span></span></li>
                        </ul>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                        <a class="readmore" href="blog-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="blog col">
                <div class="blog-inner">
                    <div class="media"><a href="blog-details.html" class="image"><img src="/Asset/Client/images/blog/blog3.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="title"><a href="blog-details.html">Blog Audio post</a></h3>
                        <ul class="meta">
                            <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">20</span><span class="separator">-</span><span class="month">Jul</span></span></li>
                        </ul>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                        <a class="readmore" href="blog-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="blog col">
                <div class="blog-inner">
                    <div class="media"><a href="blog-details.html" class="image"><img src="/Asset/Client/images/blog/blog1.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="title"><a href="blog-details.html">Blog Video post</a></h3>
                        <ul class="meta">
                            <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">20</span><span class="separator">-</span><span class="month">Jul</span></span></li>
                        </ul>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                        <a class="readmore" href="blog-details.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
        </div>
    </div>
</div>
<!--Blog section end-->
<!--Categorie Product section start-->
<div class="categorie-product-section section">
    <div class="container-fluid pl-0 pr-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4">
                <!-- Single Categorie Product Start -->
                <div class="single-categorie">
                    <div class="categorie-image">
                        <img src="/Asset/Client/images/categorie/cate-1.png" alt="">
                    </div>
                    <div class="categorie-content">
                        <h3>Now introducing</h3>
                        <a class="shop-btn" href="#">Shop now</a>
                        <h1>Spa Optima+</h1>
                    </div>
                </div>
                <!-- Single Categorie Product End -->
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- Single Categorie Product Start -->
                <div class="single-categorie">
                    <div class="categorie-image">
                        <img src="/Asset/Client/images/categorie/cate-2.png" alt="">
                    </div>
                    <div class="categorie-content">
                        <h3>Wrinkle cure</h3>
                        <a class="shop-btn" href="#">Shop now</a>
                        <h1>Time Revolution</h1>
                    </div>
                </div>
                <!-- Single Categorie Product End -->
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- Single Categorie Product Start -->
                <div class="single-categorie">
                    <div class="categorie-image">
                        <img src="/Asset/Client/images/categorie/cate-3.png" alt="">
                    </div>
                    <div class="categorie-content">
                        <h3>Pretty perks for every point you earn</h3>
                        <a class="shop-btn" href="#">Shop now</a>
                        <h1>Beauty Squad</h1>
                    </div>
                </div>
                <!-- Single Categorie Product End -->
            </div>
        </div>
    </div>
</div>
<!--Categorie Product section end-->