@model Models.Entity.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Models.Entity.Banner banner = ViewBag.banner;
}

<!-- Page Banner Section Start -->
<div style="background-image: url('@(banner != null? banner.Image : "")');
" class="page-banner-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>About</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!--About Us Area Start-->
<div class="about-us-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <!--About Us Image Start-->
                <div class="about-us-img-wrapper mb-30 mb-xs-15">
                    <div class="about-us-image img-full">
                        <a href="#"><img src="@Model.Image" alt=""></a>
                    </div>
                </div>
                <!--About Us Image End-->
            </div>
            <div class="col-lg-6 col-12">
                <!--About Us Content Start-->
                <div class="about-us-content">
                    <h2>@Model.Name</h2>
                    @Html.Raw(Model.Description)
                </div>
                <!--About Us Content End-->
            </div>
        </div>
    </div>
</div>
<!--About Us Area End-->
<!--About Us Team Start-->
@{Html.RenderAction("AboutTeamList");}
<!--About Us Team End-->
<!--Testimonial Area Start-->
@{Html.RenderAction("AboutTestimonial");}
<!--Testimonial Area End-->        