@{
    ViewBag.Title = "OrderSuccessPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="faq-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50  pb-90 pb-lg-70 pb-md-60 pb-sm-50 pb-xs-40">
    <div class="container">
        <div class="row">
            <img style="height: 100px;width: auto;display:block;margin:auto;" src="/Asset/Client/images/icons/download.png" />
            <div class="col-md-12">
                <div style="text-align: center;margin-top: 50px;" class="faq-content">
                    <div class="faq-desc">
                        <h3>Cảm ơn bạn đã mua hàng tại FondeKao!</h3>
                        <p>Mã đơn hàng của bạn:</p>
                        <div style="background-color: lightgreen;width: 200px;padding: 10px;height: 50px;display:block;margin:auto;">
                            <h2>@(ViewBag.orderID ?? 0)</h2>
                        </div>
                        <p style="margin-top: 20px;">Chúng tôi đã gửi thông tin đơn hàng tới email của bạn</p>
                        <p style="margin-top: 20px;">
                            <h4 style="font-weight: bold;">Vui lòng thanh toán đơn hàng của bạn tại:</h4>
                            Số tài khoản: xxxxxxxxxxx  <br />
                            Ngân hàng: xxxxxxxxxxx  <br />
                            Chủ tài khoản: xxxxxxxxxxx  <br />
                        </p>
                        <p style="margin-top: 20px;">Kiểm tra trạng thái đơn hàng tại <a style="color: blue;">đây!</a></p>
                        <a style="margin-top: 20px;background-color: lightgreen;" class="btn btn-success">Tiếp tục mua hàng</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

