<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/Admin/HomeAdmin">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/OrderAdmin/OrdersList">
                        <i class="fa fa-newspaper-o"></i>
                        <span>Orders</span>
                    </a>
                </li>

                <li>
                    <a href="/Admin/CustomerAdmin/Index">
                        <i class="fa fa-users"></i>
                        <span>Customer </span>
                    </a>
                </li>

                <li>
                    <a href="/Admin/SeoAdmin/SeoList">
                        <i class="fa fa-amazon"></i>
                        <span>SEO</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="/Admin/AccountAdmin/Index">
                        <i class="fa fa-user"></i>
                        <span>Account</span>
                    </a>

                </li>

                <li class="sub-menu">
                    <a href="/Admin/StaffAdmin/Index">
                        <i class="fa fa-user-plus"></i>
                        <span>Staff</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="fontawesome.html">
                        <i class="fa fa-product-hunt"></i>
                        <span>Product </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ProductAdmin/Index">List Product</a></li>
                        <li><a href="/Admin/ProductAdmin/Create">Add Product</a></li>
                        <li><a href="/Admin/ProductCategory/Index">List Product Category</a></li>
                        <li><a href="/Admin/ProductCategory/Create">Add Product Category</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="fontawesome.html">
                        <i class="fa fa-pencil"></i>
                        <span>Blog </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/ContentAdmin/Index">Blog List</a></li>
                        <li><a href="/Admin/ContentCategoryAdmin/Index">Blog Category</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-pencil-square"></i>
                        <span>Page Content</span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a href="/Admin/BannerAdmin/BannerList">
                                <i class="fa fa-scissors"></i>
                                <span>Banner</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/AboutAdmin/Index">
                                <i class="fa fa-bookmark"></i>
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ContactAdmin/Edit">
                                <i class="fa fa-phone"></i>
                                <span>Contact</span>
                            </a>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-mercury"></i>
                                <span>Footer</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/FooterAdmin/Index">Footer List</a></li>
                                <li><a href="/Admin/FooterCategoryAdmin/Index">Footer Category</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fa fa-book"></i>
                                <span>Menu</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/Admin/MenuAdmin/Index">Menu List</a></li>
                                <li><a href="/Admin/MenuTypeAdmin/Index">Menu Type</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Admin/SlideAdmin/Index">
                                <i class="fa fa-image"></i>
                                <span>Slide</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/BannerAdmin/BannerList">
                                <i class="fa fa-bolt"></i>
                                <span>Banner</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
