@model PagedList.IPagedList<Models.Entity.SEO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
@section jsFooter{

}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                SEO
            </div>
            <div class="row w3-res-tb">
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Trang</th>
                            <th>Meta Title</th>
                            <th>Meta Keyword</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.Id</td>
                                        <td><a href="/Admin/SeoAdmin/SeoDetail?id=@item.Id">@item.Name</a></td>
                                        <td>@item.MetaTitle</td>
                                        <td>@item.SeoKeyWord</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

