@model Models.Entity.Page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>@Model.Name</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li>@Model.Name</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!-- Faq Section Start -->
<div class="faq-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50  pb-90 pb-lg-70 pb-md-60 pb-sm-50 pb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-content">
                    <div class="faq-desc">
                        @Html.Raw(Model.Body)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section End -->
