@model List<Models.Entity.Menu>
@{
    List<Models.Entity.ProductCategory> productCategories = ViewBag.ProductsCategories;
    List<Models.Entity.ContentCategory> blogCategories = ViewBag.BlogCategories;
}
<nav class="main-navigation">
    <ul class="list-menu">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.link">
                    @item.text
                </a>
                @if (item.link == "/product")
                {
                    <ul class="sub-menu">
                        @foreach (var category in productCategories)
                        {
                            <li>
                                <a href="/Product/ProductListByCategory?idCategory=@category.id">
                                    @category.name
                                </a>
                            </li>
                        }
                    </ul>
                }

                @if (item.link == "/blog")
                {
                    <ul class="sub-menu">
                        @foreach (var category in blogCategories)
                        {
                            <li>
                                <a href="/Blog/ListByCategory?idCategory=@category.id">
                                    @category.name
                                </a>
                            </li>
                        }
                    </ul>
                }


            </li>
        }

    </ul>
</nav>
