<div class="header-cart">
    <a href="/product/CartPreview"><i class="fa fa-shopping-cart"></i><span hidden class="cartcounter"></span></a>
    <!--Mini Cart Dropdown Start-->
    <div class="header-cart-dropdown">
        <ul class="cart-items">
        </ul>
        <div class="cart-total">
            <h5>Tổng cộng : <span class="float-right" id="amountCart">0 Vnđ</span></h5>
        </div>
        <div class="cart-btn">
            <a href="/product/CartPreview">Xem giỏ hàng</a>
            <a href="/product/checkout">Thanh toán</a>
        </div>
    </div>
    <!--Mini Cart Dropdown End-->
</div>