@model Models.Entity.ClientAccount
@{
    var isLogin = ViewBag.IsLogin;
    if(isLogin == null)
    {
        isLogin = false;
    }

    var isHomePage = "Home".Equals(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString());
    var topNavColor = isHomePage ? "color: #FFFFFF !important" : "color: #000000 !important";
}

<div id="account-top-nav" class="dropdown">
    <!--Trigger-->
    @if (isLogin && Model != null)
    {
        <a class="dropdown-toggle" @topNavColor href="#" id="dropdownMenu2" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="true"><i class="fa fa-user-circle-o"></i> Hi! @(Model.FirstName + Model.LastName)</a>
        <div class="dropdown-menu dropdown-primary login-button-header">
            <a class="dropdown-item" href="/membership/myprofile#orders">My Orders</a>
            <a class="dropdown-item" href="/membership/myprofile#bookings">My Bookings</a>
            <a class="dropdown-item" href="/membership/myprofile">My Profile</a>
            <a class="dropdown-item" href="/membership/logout">LogOut</a>
        </div>
    }
    else
    {
        <a class="dropdown-toggle" href="#" style="@topNavColor" id="dropdownMenu2" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="true"><i class="fa fa-user-circle-o"></i> Login</a>
        <!--Menu-->
        <div class="dropdown-menu dropdown-primary login-button-header">
            <a id="login-dropdown-option" data-toggle="modal" data-target="#modalLRForm" class="dropdown-item" href="#">Login</a>
            <a id="register-dropdown-option" data-toggle="modal" data-target="#modalLRForm" class="dropdown-item" href="#">Register</a>
        </div>
    }
</div>
