
@{
    ViewBag.Title = "CartPreview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Asset/Client/js/CartPreview.js"></script>
    }
<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>Shopping Cart</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li>Giỏ hàng</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!--Cart section start-->
<div class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Hình ảnh</th>
                                <th class="pro-title">Sản phẩm</th>
                                <th class="pro-price">Đơn giá</th>
                                <th class="pro-quantity">Số lượng</th>
                                <th class="pro-subtotal">Thành tiền</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody class="cartPreviewTable">
                        </tbody>
                    </table>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-12 mb-5">  
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-30 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span id="cartSubTotal">0 vnđ</span></p>
                                <p>Shipping Cost <span>0 vnđ</span></p>
                                <h2>Grand Total <span id="cartGrandTotal">0 vnđ</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                @*<button class="btn">Update Cart</button>*@
                                <button class="btn"
                                        onclick="window.location.href = '/product/checkout';">
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!--Cart section end-->
