@model Models.Entity.Contact

<div class="col-lg-3 col-md-3 col-6 order-lg-1 order-md-1 order-1">
    <div class="logo">
        <a href="/"><img src="@Model.LogoHeader" alt=""></a>
    </div>
</div>
