
@{
    ViewBag.Title = "CartPreview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Asset/Client/js/CartPreview.js"></script>
}
@{ 
    var isLogin = ViewBag.IsLogin;
    if(isLogin == null)
    {
        isLogin = false;
    }
}
<div class="title-page" style="background-image: url(/Asset/Spa/images/title-page-01.jpg);">
    <div class="container">
        <h1 class="main-title">
            Cart
        </h1>
    </div>
</div>
<!--Cart section start-->
<div style="margin-top:40px;" class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product Name</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody class="cartPreviewTable">
                        </tbody>
                    </table>
                </div>

                <div style="margin-top:40px;" class="row">
                    <div class="col-lg-6 col-12 mb-5">                       
                        <!-- Discount Coupon -->
                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <button class="btn">Apply Code</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-30 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span id="cartSubTotal">$0</span></p>
                                <p>Discount <span id="cartDiscount">$0</span></p>
                                <h2>Grand Total<span id="cartGrandTotal">$0</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                @*<button class="btn">Update Cart</button>*@
                                @if (isLogin)
                                {
                                    <button class="btn"
                                            onclick="window.location.href = '/product/checkout';">
                                        CHECKOUT
                                    </button>
                                }
                                else
                                {
                                    <button data-toggle="modal" data-target="#modalLRForm" class="btn"
                                            onclick="window.location.href = 'javascript:void(0)';">
                                        CHECKOUT
                                    </button>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!--Cart section end-->
