
@{
    ViewBag.Title = "DefaultError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hun-element-404error layout-1 full-height-with-header" style="background-image: url(/Asset/Client/images/bg-08.jpg);">
    <h2 class="title-element">
        Oops!
        <br>
        Page Not Found!
    </h2>

    <div class="description-element">
        You could either go back or go to homepage
    </div>

    <div class="buttons-element">
        <a href="/" class="hun-button size-normal shape-round style-fill-light">
            Quay lại
        </a>

        <a href="/" class="hun-button size-normal shape-round style-fill-color">
            Trang chủ
        </a>
    </div>
</div>